@model IEnumerable<SzeregowanieProjekt2.Models.BasicModels.Task>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.release)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processingTime)
        </th>
        <th>
            Color
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processingTime)
        </td>
        <td style="background-color: rgb( @Html.DisplayFor(modelItem => item.color.red) , @Html.DisplayFor(modelItem => item.color.green) , @Html.DisplayFor(modelItem => item.color.blue) );"></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
